// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    background-image: url("../images/bgc2_webp.webp");
    background-size: cover;
    background-repeat: repeat;


    .container,
    .container-lg {
        margin-top: 10px;
        height: calc(100vh - 70px);
        background: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        overflow: auto;
    }
}

nav {
    background-image: linear-gradient(45deg,
            rgb(135, 186, 227) 0%,
            rgb(135, 186, 227) 25%,
            #fff 30%,
            #fff 85%,
            #ffd194 90%,
            #ffd194 100%);
}
